# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# CAMTASIA FILES
*.TSCPROJ
# Recycle Bin used on file shares
$RECYCLE.BIN/
# ignore output folder
_Archive/
_Course-Information/
_Classes/
_Laboratories/
_potential-readings/
_code/
_videos
_media
_movies
*STMX
*isdb
media/Tutorial-videos


# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.mp4
*.mov
# Office files
Course-Materials/PDF/*.docx
*.pptx



# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
